@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('css/breadcrumb-master.css.xhtml');
@import url('css/notification-panel.css.xhtml');
@import url('css/sidebar-detail.css.xhtml');
@import url('css/table.css.xhtml');
@import url('css/totop.css.xhtml');
@import url('css/forms.css.xhtml');

body {
	padding-top: 5rem;
}

.mainheading {
	padding: 1rem 0;
}

a {
	color: #ac804f;
}

a, a:hover {
	transition: all 0.2s;
}

nav.top-navigation {
	background: rgba(255, 255, 255, .97);
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

nav.top-navigation .nav-item i {
	color: #ac804f;
}

nav.top-navigation a.dropdown-item {
	padding-left: 12px;
	padding-right: 12px;
}

nav.top-navigation a.dropdown-item i {
	min-width: 23px;
}

nav.top-navigation a.dropdown-item span {
	display: inline-block;
	padding-left: 4px;
}

nav.top-navigation li.nav-item a.nav-link > i {
	margin-right: 5px;
}

section {
	margin-bottom: 20px;
}

.section-title h2 {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	font-weight: 700;
	font-size: 1.4rem;
	margin-bottom: 27px;
}

.section-title span {
	border-bottom: 1px solid rgba(0, 0, 0, .44);
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: -1px;
}

@media ( min-width :576px) {
	.card-columns.list-featured-tag {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media ( min-width :992px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-right: .7rem;
		padding-left: .7rem;
	}
}

.card-columns .card {
	margin-bottom: 20px;
}

.list-featured-tag .wrapthumbnail {
	height: 278px;
	flex: 0 0 auto;
}

.list-featured-tag .card {
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 2px;
	height: 280px;
	padding-left: 0;
	margin-bottom: 15px;
}

.list-featured-tag .card-block {
	padding-left: 0;
}

.list-featured-tag h2.card-title, .listrecent h2.card-title {
	font-size: 1.3rem;
	font-weight: 700;
}

.list-featured-tag h2.card-title a, .listrecent h2.card-title a {
	color: rgba(0, 0, 0, .8);
}

.list-featured-tag h2.card-title a:hover, .listrecent h2.card-title a:hover
	{
	color: rgba(0, 0, 0, .6);
	text-decoration: none;
}

.list-featured-tag h4.card-text, .listrecent h4.card-text {
	color: rgba(0, 0, 0, .44);
	font-size: 0.95rem;
	line-height: 1.4;
	font-weight: 400;
	max-height: 9rem;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-featured-tag .post-meta {
	position: absolute;
	bottom: 15px;
	font-size: 12px;
	width: 85%;
	text-align: right;
}

.listrecent .post-meta {
	font-size: 12px;
	text-align: right;
}

.post-t-meta {
	font-size: 12px;
	margin-bottom: .5rem;
	color: #ac804f;
}

.post-top-meta {
	margin-bottom: .95rem;
}

.post-top-meta span {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, .44);
	display: inline-block;
}

span.post-date, span.post-read {
	color: rgba(0, 0, 0, .44);
}

.dot:after {
	content: "·";
	margin-left: 3px;
	margin-right: 3px;
}

.top-navigation .form-control {
	font-size: 0.8rem;
	border-radius: 30px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.04);
}

.top-navigation .form-inline {
	margin-left: 15px;
}

.top-navigation .form-inline .btn {
	margin-left: -50px;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
}

.top-navigation .form-inline .btn:hover, .top-navigation .form-inline .btn:active
	{
	background: transparent;
	color: green;
}

.top-navigation .navbar-brand {
	font-weight: 500;
}

.top-navigation .dropdown-menu {
	border: 1px solid rgba(0, 0, 0, 0.08);
	margin: .5rem 0 0;
}

.top-navigation .nav-item, .dropdown-menu {
	font-size: 0.9rem;
}

.top-navigation .search-icon {
	margin-left: -40px;
	display: inline-block;
	margin-top: 3px;
	cursor: pointer;
}

.top-navigation .navbar-brand img {
	max-height: 30px;
	margin-right: 5px;
}

.mainheading img {
	margin-bottom: .75rem;
}

.mainheading h1.sitetitle {
	font-family: Righteous;
}

.mainheading h1.posttitle {
	font-weight: 700;
	margin-bottom: 1rem;
}

.footer {
	border-top: 1px solid rgba(0, 0, 0, .05) !important;
	padding-top: 15px;
	padding-bottom: 12px;
	font-size: 0.8rem;
	color: rgba(0, 0, 0, .44);
	margin-top: 50px;
}

.link-dark {
	color: rgba(0, 0, 0, .8);
}

.article-post {
	font-family: Merriweather;
	font-size: 1.2rem;
	line-height: 1.8;
	color: rgba(0, 0, 0, .8);
}

blockquote {
	border-left: 4px solid #ac804f;
	padding: 0 20px;	
	font-style: italic;
	color: rgba(0, 0, 0, .5);
}

blockquote h4 {
	font-family: serif;
	font-weight: bold;
	font-size: x-large;
}

blockquote p {
	font-family: Merriweather;
	font-size: medium;
}

.article-post p, .article-post blockquote {
	margin: 0 0 1.5rem 0;
}

.featured-image {
	display: block;
	margin: 0 auto 1.5rem;
}

.share {
	text-align: center;
	margin-top: 20px;
}

.share p {
	margin-bottom: 10px;
	font-size: 0.95rem;
}

.share ul li {
	display: inline-block;
	margin-bottom: 5px;
}

.share ul {
	padding-left: 0;
	margin-left: 0;
}

.share .svg-icon {
	display: flex;
	flex-direction: column;
}

.svg-icon {
	text-decoration: none !important;
}

.svg-icon svg {
	fill: #ac804f;
	width: 25px;
	height: 25px
}

.svg-icon span {
	color: #ac804f;
}

.svg-icon:hover svg {
	fill: #000;
}

.svg-icon:hover span {
	color: #000;
}

.post-meta .svg-icon {
	margin-left: 5px;
}

.post-meta .svg-icon svg {
	vertical-align: middle;
}

.post-meta .svg-icon span {
	vertical-align: middle;
	margin-left: -2px;
}

@media ( min-width :1024px) {
	.share {
		position: fixed;
		display: block;
	}
	.share ul li {
		display: block;
	}
}

@media ( max-width :999px) {
	.list-featured-tag .wrapthumbnail, .list-featured-tag .col-md-7 {
		width: 100%;
		max-width: 100%;
		-webkit-box-flex: 0;
		-webkit-flex: 100%;
		-ms-flex: 100%;
		flex: 100%;
	}
	.list-featured-tag .wrapthumbnail {
		height: 250px;
	}
	.list-featured-tag .card {
		height: auto;
	}
	.list-featured-tag .post-meta {
		position: relative;
		margin-top: 30px;
	}
	.list-featured-tag .card-block {
		padding: 20px;
	}
}

@media ( max-width :1024px) {
	.post-top-meta .col-md-10 {
		text-align: center;
	}
}

@media ( max-width :767px) {
	.post-top-meta.authorpage {
		text-align: center;
	}
}

.share, .share a {
	color: rgba(0, 0, 0, .44);
	fill: rgba(0, 0, 0, .44);
}

.after-article-block {
	padding: 40px 0 46px;
	position: relative;
}

.graybg {
	background-color: #fafafa;
}

.listrelated .card {
	box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
	border: 0;
}

.card {
	border-radius: 4px;
}

.card .img-thumb {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

ul.tags {
	list-style: none;
	padding-left: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.tags li {
	display: inline-block;
	font-size: 0.9rem;
}

ul.tags li a {
	background: rgba(172, 128, 79, .25);
	color: rgba(0, 0, 0, .6);
	border-radius: 3px;
	padding: 5px 10px;
	white-space: nowrap;
}

ul.tags li a:hover {
	background: rgba(172, 128, 79, .45);
	text-decoration: none;
}

.margtop3rem {
	margin-top: 3rem;
}

.sep {
	height: 1px;
	max-width: 5rem;
	background: #ac804f;
	margin: 0 auto 1.2rem;
}

.btn.follow {
	border-color: #02B875;
	color: #1C9963;
	padding: 3px 10px;
	text-align: center;
	border-radius: 999em;
	font-size: 0.85rem;
	display: inline-block;
}

.btn.subscribe {
	background-color: #1C9963;
	border-color: #1C9963;
	color: rgba(255, 255, 255, 1);
	fill: rgba(255, 255, 255, 1);
	border-radius: 30px;
	font-size: 0.85rem;
	margin-left: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.post-top-meta .btn.follow {
	margin-left: 5px;
	margin-top: -4px;
}

.form-control::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .5);
}

.form-control:-moz-placeholder {
	color: rgba(0, 0, 0, .5);
}

.form-control::-moz-placeholder {
	color: rgba(0, 0, 0, .5);
}

.form-control:-ms-input-placeholder {
	color: rgba(0, 0, 0, .5);
}

.form-control::-ms-input-placeholder {
	color: rgba(0, 0, 0, .5);
}

.authorpage h1 {
	font-weight: 700;
	font-size: 30px;
}

.post-top-meta.authorpage .btn.follow {
	padding: 7px 20px;
	margin-top: 10px;
	margin-left: 0;
	font-size: 0.9rem;
}

.graybg.authorpage {
	border-top: 1px solid #f0f0f0;
}

.authorpostbox {
	width: 760px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	max-width: 100%;
}

.authorpostbox .img-thumb {
	width: 100%;
}

.sociallinks {
	margin: 1rem 0;
}

.sociallinks a {
	background: #666;
	color: #fff;
	width: 22px;
	height: 22px;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	border-radius: 50%;
	font-size: 12px;
}

.btn-outline-primary {
	color: #ac804f;
	border-color: #ac804f;
}

.btn-outline-primary:hover {
	background-color: #ac804f;
	border-color: #ac804f;
}

.post-img {
	overflow: hidden;
	position: relative;
	display: block;
	height: 100%;
	border-top-left-radius: 2px;
}

.post-img>img {
	width: 100%;
	height: 100%;
	-webkit-transition: 1.6s -webkit-transform;
	transition: 1.6s -webkit-transform;
	transition: 1.6s transform;
	transition: 1.6s transform, 1.6s -webkit-transform;
	left: 0;
	top: 0;
	position: relative;
	object-fit: cover;
	object-position: center top;
}

.post-img>img.cafe-img {
	opacity: 0;
	filter: opacity(0);
	position: absolute;
	z-index: 2;
}

.post-img:hover>img.cafe-img, .post-img>img.cafe-img:hover {
	opacity: 1;
	filter: opacity(100%);
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.post-img:hover>img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.video-audio-block .row {
	padding-bottom: 2rem;
}

.video-audio-block {
	background-color: #fff;
}

.photo-block {
	background-color: #fff;
}

.cafe-block {
	background-color: #fff8f0;
}

.musical-notation-block {
	background-color: #fff;
}



dl.request {
	padding: 16px;	
	border-width: 1px;
	border-style: dashed;
	border-color: #ac804f;
}
div.request h5 {
	margin-top: 40px;
}
div.request i {
	padding-right: 10px;
	color: #ac804f;
}
dl.request dt {
	
}
dl.request dd {
	font-size: 0.85em;
	padding-left: 30px;
}