<ui:composition template="/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">

	<ui:define name="title">
		<h:outputText value="Создание персоны"/>
    </ui:define>

    <ui:define name="commons-content">   
    	<h:panelGroup layout="block" styleClass="card-body">
    		<h:form id="form" styleClass="clear-both">
				<f:validateBean>
					<h:panelGroup layout="block" styleClass="form-group">
						<h:outputLabel for="firstName">
							<h:outputText value="Имя" />
						</h:outputLabel>
						<h:inputText value="#{personWebBean.firstName}" styleClass="form-control" id="first-name">
							
						</h:inputText>						
						<h:message errorClass="invalid-feedback" for="first-name" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-group">
						<h:outputLabel for="lastName">
							<h:outputText value="Фамилия" />
						</h:outputLabel>
						<h:inputText value="#{personWebBean.lastName}" styleClass="form-control" id="last-name">
							
						</h:inputText>						
						<h:message errorClass="invalid-feedback" for="last-name" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-group">
						<h:outputLabel for="middleName">
							<h:outputText value="Отчество" />
						</h:outputLabel>
						<h:inputText value="#{personWebBean.middleName}" styleClass="form-control" id="middle-name">
							
						</h:inputText>						
						<h:message errorClass="invalid-feedback" for="middle-name" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-group">
						<h:outputLabel for="birthdate">
							<h:outputText value="Дата рождения" />
						</h:outputLabel>
						<h:inputText value="#{personWebBean.birthdate}" styleClass="form-control" id="birthdate">
							
						</h:inputText>						
						<h:message errorClass="invalid-feedback" for="birthdate" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-group">
						<h:outputLabel for="deathdate">
							<h:outputText value="Дата смерти"/>
						</h:outputLabel>
						<h:inputText value="#{personWebBean.deathdate}" styleClass="form-control" id="deathdate">
							
						</h:inputText>						
						<h:message errorClass="invalid-feedback" for="deathdate" />
					</h:panelGroup>
				</f:validateBean>
				<div class="row form-btn-block sticky-bottom">
					<div class="col">
						<h:panelGroup layout="block" styleClass="btn-group float-right">
							<f:passThroughAttribute name="role" value="group"/>
							<h:link styleClass="btn btn-info" value="#{actions['action.cancel']}" outcome="/index.xhtml?faces-redirect=true"/>
							<h:commandButton styleClass="btn btn-info" value="#{actions['action.create']}" action="/index.xhtml?faces-redirect=true">
								<f:ajax execute="@form" render="@form" listener="#{personWebBean.create}"/>
							</h:commandButton>			
						</h:panelGroup>	
					</div>
				</div>				    		
    		</h:form>
    	</h:panelGroup> 
	</ui:define>

</ui:composition>