<ui:composition template="/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">

	<ui:define name="title">
		<h:outputText value="О приложении"/>
    </ui:define>

    <ui:define name="commons-content">   
    	<h:panelGroup layout="block" styleClass="card-body">
    		Тестовое приложение. показывающее возможности работы с графовой БД Neo4J.
    	</h:panelGroup>
	</ui:define>

</ui:composition>