<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:insert name="metadata" />
	<title>
		<ui:insert name="title">NEO4J Test Application</ui:insert>
	</title>
	<meta charset="utf-8" />	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="icon" href="/favicon.ico"/>
	<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />	
	<link href="/libs/fontawesome/css/all.min.css" rel="stylesheet" />
	<link href="/libs/ie10-viewport/css/ie10-viewport.min.css" rel="stylesheet" />
	<link href="/libs/tether/css/tether.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet"/>
	<link href="/libs/open-iconic-master/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet name="neo4j-test-task.css" library="css" />
	<ui:insert name="css"></ui:insert>
	<meta http-equiv="Content-Language" content="ru" />
</h:head>
<h:body>
	<ui:include src="navbar/navbar.xhtml" />
	<div class="container">
		<div class="row">    
	    	<ui:insert name="content"></ui:insert>
	    </div>
	    <ui:insert name="addons-content"></ui:insert>
	</div>	

	<div class="container">
	    <div class="footer">
	        <p class="pull-left">
	            @Copyright; 2020 Vitaly Masterov
	        </p>
	        <div class="clearfix">
	        </div>
	    </div>		
	</div>
		
	<script src="/libs/jquery/jquery.min.js"></script>
	<script src="/libs/popper/popper.min.js"></script>
	<script src="/libs/tether/js/tether.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/libs/ie10-viewport/js/ie10-viewport.min.js"></script>
	<script src="/libs/moment-with-locales.min.js"></script>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
	<h:outputScript name="ritmico.js" library="js" />
	<h:outputScript name="neo4j-test-task.js" library="js" />
	<ui:insert name="javascript" />
</h:body>
</html>