<ui:composition template="/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewAction action="#{indexWebBean.select}"/>
		</f:metadata>
	</ui:define>

	<ui:define name="javascript">		 
		<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				vm.neo4j.drawGraphs();
			});
		</script>		
	</ui:define>

	<ui:define name="title">
        NEO4J Test Task Application
    </ui:define>

    <ui:define name="commons-content">
    	<h:panelGroup layout="block" styleClass="card-body">        
		<div class="col-md-12 col-12">
			<h:form id="form" styleClass="clear-both">
				<h:panelGroup layout="block" styleClass="card-body">
					<h:panelGroup styleClass="form-group col-md-4" layout="block">
						<h:outputLabel for="filter-mode" value="Режим отображения"/>
						<h:selectOneMenu value="ALL"
										 id="filter-mode"
										 styleClass="form-control custom-select"
										 hideNoSelectionOption="false">
							<f:selectItem itemValue="ALL" itemLabel="Все узлы и связи" />
							<f:selectItem itemValue="NODES_ONLY" itemLabel="Все только узлы" />
							<f:selectItem itemValue="PERSONS_ONLY" itemLabel="Только персоны" />
							<f:selectItem itemValue="LOCATIONS_ONLY" itemLabel="Только локации" />
							<f:ajax execute="@form" render="@form" listener="#{indexWebBean.selectFilterMode}" onevent="vm.neo4j.redrawGraphs"/>
						</h:selectOneMenu>
					</h:panelGroup>									
					<h:panelGroup styleClass="form-group col-md-8" layout="block">
						<h:outputLabel for="cypher" value="Cypher"/>
						<h:inputText value="#{indexWebBean.query}" styleClass="form-control" id="cypher" disabled="true"/>
					</h:panelGroup>									
				</h:panelGroup>
			</h:form>
			<div id="viz" style="width: 900px; height: 700px;"></div>							
		</div>
		</h:panelGroup>
	</ui:define>

</ui:composition>