<ui:composition template="basic-template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    
    <ui:define name="content">    
	    <ui:insert name="commons-content"></ui:insert>   
    </ui:define>
    
</ui:composition>