<ui:composition template="/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">

	<ui:define name="title">
		<h:outputText value="#{msg['navbar.db.actions.init.loading.relationships']}"/>
    </ui:define>

    <ui:define name="commons-content">    
		<div class="col-md-11 col-12">
			<h:outputText value="#{msg['loading.relationships.warning']}"/>
		</div>
		<h:form id="form" styleClass="clear-both">
			<div class="row form-btn-block sticky-bottom">
				<div class="col">
					<h:panelGroup layout="block" styleClass="btn-group float-right">
						<f:passThroughAttribute name="role" value="group"/>
						<h:link styleClass="btn btn-info" value="#{actions['action.cancel']}" outcome="/index.xhtml?faces-redirect=true"/>
						<h:commandButton styleClass="btn btn-info" value="#{actions['action.approve']}" action="/index.xhtml?faces-redirect=true">
							<f:ajax execute="@form" render="@form" listener="#{initialLoadingWebBean.loadRelationshipsOnly}"/>
						</h:commandButton>			
					</h:panelGroup>	
				</div>
			</div>
		</h:form>				
	</ui:define>

</ui:composition>