<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<nav class="navbar navbar-toggleable-md navbar-expand-md navbar-light bg-white fixed-top top-navigation">
		<div class="container">
			<!-- Logo -->
			<h:outputLink value="/" styleClass="navbar-brand">
				<img src="/assets/img/logo-medium.png" alt="logo" />
			</h:outputLink>			
			<button class="navbar-toggler d-md-none" type="button"
				data-toggle="collapse" data-target="#navbar-content"
				aria-controls="navbar-content" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon float-right"></span>
			</button>

			<!-- Menu -->
			<div class="collapse navbar-collapse" id="navbar-content">
				<!-- Begin Menu -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle"
							data-toggle="dropdown"
							href="#"
							role="button"
							aria-haspopup="true"
							aria-expanded="false"
							title="#{msg['navbar.db.actions.title']}">
							<i class="fad fa-database fa-lg"></i>
							<h:outputText value="#{msg['navbar.db.actions.title']}" />							
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<h:link outcome="/nodes/init-loading/all-data.xhtml" styleClass="dropdown-item">
								<i class="fad fa-spinner-third fa-lg"></i>								
								<span>
									<h:outputText value="#{msg['navbar.db.actions.init.loading.all']}" />
								</span>								
							</h:link>	
							<h:link outcome="/nodes/init-loading/nodes-only.xhtml" styleClass="dropdown-item">
								<i class="fad fa-project-diagram fa-lg"></i>								
								<span>
									<h:outputText value="#{msg['navbar.db.actions.init.loading.nodes']}" />
								</span>								
							</h:link>	
							<h:link outcome="/nodes/init-loading/relationships-only.xhtml" styleClass="dropdown-item">
								<i class="far fa-code-merge fa-lg"></i>								
								<span>
									<h:outputText value="#{msg['navbar.db.actions.init.loading.relationships']}" />
								</span>								
							</h:link>								
							<div class="dropdown-divider"/>														
							<h:link outcome="/nodes/cleaning/cleaning.xhtml" styleClass="dropdown-item">
								<i class="fad fa-broom fa-lg"></i>
								<span>
									<h:outputText value="#{msg['navbar.db.actions.cleaning']}" />
								</span>								
							</h:link>	
							<div class="dropdown-divider"/>
							<h:link outcome="/nodes/persons/creation.xhtml" styleClass="dropdown-item">
								<i class="fad fa-user fa-lg"></i>
								<span>
									<h:outputText value="Создание персоны" />
								</span>								
							</h:link>								
						</div>
					</li>											
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle"
							data-toggle="dropdown"
							href="#"
							role="button"
							aria-haspopup="true"
							aria-expanded="false"
							title="Справка">
							<i class="fad fa-question-circle fa-lg"></i>
							<h:outputText value="Справка" />							
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<!-- 
								<h:link outcome="/about/userguide.xhtml" styleClass="dropdown-item">
									<i class="fad fa-list-alt fa-lg"></i>
									<span>
										<h:outputText value="#{msg['about.userguide']}" />
									</span>								
								</h:link>
								<h:link styleClass="dropdown-item" outcome="/about/technologies.xhtml">
									<i class="fad fa-microchip fa-lg"></i>
									<span>
										<h:outputText value="#{msg['about.technologies']}" />
									</span>																	
								</h:link>
							 -->	
								<h:link styleClass="dropdown-item" outcome="/about/about.xhtml">
									<i class="fad fa-info-square fa-lg"></i>
									<span>
										<h:outputText value="#{msg['about.about']}" />
									</span>																	
								</h:link>								
						</div>
					</li>											
				</ul>
			</div>
		</div>
	</nav>

</ui:composition>